body {
	background-image: url("img/blue-snow.png");
	font-family: 'Montserrat', sans-serif;
}

#container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

header {
	width: 100%;
	color: #DEA41F;

}

h1.logo {
	font-size: 25px;
	font-weight: 400;
	padding: 30px;
}

nav {
	text-align: right;
	margin-right: 80px;
}

.menu {
	list-style-type: none;
	font-size: 18px;
	padding: 5px;
	color: #DEA41F;
	margin-bottom: 5px;

}

.menu>li {
	display: inline-block;
	padding: 10px;
	border-left: 2px dashed #DEA41F;
}

.menu>li:last-child {
	border-right: 2px dashed #DEA41F;
}


.menu a {
	text-decoration: none;
	color: #DEA41F;
}

.menu a:hover {
	color: white;
}

#slajder {
	width: 100%;
	min-height: 620px;
	position: relative;
	color: white;
}

#slajder img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 930px;
	height: 620px;
	overflow: hidden;
	opacity: 0.5;
}


#content {
	width: 100%;
	color: white;
	background-color: #787C7F;
}

h2 {
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: 700;
	color: #DEA41F;
	margin-left: 50px;
	padding-top: 30px;
}

#photos {
	width: 200px;
	margin-left: 40px;
	float: left;
}

.photo1 {
	width: 184px;
	height: 123px;
	padding: 5px;
	transition: transform 0.2s ease-in-out;
}


.photo2 {
	width: 184px;
	height: 123px;
	padding: 5px;
	transition: transform 0.8s ease-in-out;
}


.photo3 {
	width: 184px;
	height: 123px;
	padding: 5px;
	transition: transform 0.8s ease-in-out;
}


.text {
	font-size: 15px;
	text-align: justify;
	margin: 0 40px 20px;
}


.download {
	width: 956px;
	margin: 30px 50px;
	color: white;
	height: 50px;
	border: 2px solid white;
	padding: 20px;
}

.download_t {
	font-size: 20px;
	float: left;
}

.download_i {
	width: 40px;
	text-align: center;
	float: left;
}

.download_i a {
	color: white;
	text-decoration: none;
}

footer {
	width: 100%;
	background-color: black;
	padding-bottom: 30px;
}

.info {
	color: white;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 20px;
}

.socials {
	width: 100%;
	height: 200px;
}

.yt {
	width: 275px;
	height: 100%;
	background-color: #FF0000;
	text-align: center;
	float: left;
}

.yt:hover {
	background-color: #EE0000;
}

.fb {
	width: 275px;
	height: 100%;
	background-color: #4267B2;
	text-align: center;
	float: left;
}

.fb:hover {
	background-color: #3156A1;
}

.gplus {
	width: 275px;
	height: 100%;
	background-color: #DD4B39;
	text-align: center;
	float: left;
}

.gplus:hover {
	background-color: #CC3A28;
}

.tw {
	width: 275px;
	height: 100%;
	background-color: #1DA1F2;
	text-align: center;
	float: left;
}

.tw:hover {
	background-color: #0CA0E1;
}

.socials a {
	color: white;
	display: block;
}

/*.sociallink
{
	display: block;
	color: white;
}*/